# Core dependencies
pandas==2.2.1
numpy==1.24.4
matplotlib==3.8.2
seaborn==0.13.2
scipy==1.12.0
statsmodels==0.14.1
scikit-learn==1.4.1.post1
minisom==2.3.0
boruta==0.3
pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git@development
TA-Lib==0.4.0

# TensorFlow and Keras
tensorflow==2.15.0
keras-tuner==1.4.6

# Additional utilities
plotly==5.20.0
